<h1 class="mt-3 mb-3"><%= @event.name %></h1>
<div class="row">
  <div class="col-8">
    <div class="card mb-2">
      <h5 class="card-header">イベント内容</h5>
      <div class="card-body">
        <p class="card-text"><%= @event.content %></p>
      </div>
    </div>
    <div class="card mb-2">
      <h5 class="card-header">開催時間</h5>
      <div class="card-body">
        <p class="card-text"><%= "#{l(@event.start_at, format: :long)} - #{l(@event.end_at, format: :long)}" %></p>
      </div>
    </div>
    <div class="card mb-2">
      <h5 class="card-header">開催場所</h5>
      <div class="card-body">
        <p class="card-text"><%= @event.place %></p>
      </div>
    </div>
    <div class="card mb-2">
      <h5 class="card-header">主催者</h5>
      <div class="card-body">
        <%= button_to("https://github.com/#{@event.owner.name}", class: "card-link") do %>
          <%= image_tag @event.owner.image_url, width: 50, height: 50 %>
          <%= "@#{@event.owner.name}" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-4">
    <% if @event.created_by?(current_user) %>
      <%= link_to "イベントを編集する", edit_event_path(@event), class: "btn btn-info btn-lg btn-block" %>
      <%= link_to "イベントを削除する", event_path(@event), class: "btn btn-danger btn-lg btn-block", method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </div>
</div>